designs/server/services/ids.json
[
    {
        "id": "sd_zYG4hoDVmPerzDa7",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids",
        "relativeParentPath": ""
    },
    {
        "id": "sd_E4ppmhQ6i7AVEDje",
        "type": "HttpIn",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_w7m1mEUU2kJ14W6U"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_E4ppmhQ6i7AVEDje"
    },
    {
        "id": "sd_jrlSjigCXr7dH75k",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "functionName": "sd_jrlSjigCXr7dH75k",
        "category": "Function",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_9bNMeRd7Uo6K48Gv"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_9bNMeRd7Uo6K48Gv",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "functionName": "sd_9bNMeRd7Uo6K48Gv",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_nPzcmJ97Gh0uY5yq"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_7xNK2AxMUPblf1B6",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "functionName": "sd_7xNK2AxMUPblf1B6",
        "category": "Function",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_WPl8nA2qDDvC8LfG"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_nPzcmJ97Gh0uY5yq",
        "type": "CallService",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_dTSbgLoaOeq5gFqR",
            "serviceName": "idsutil",
            "id": "sd_dTSbgLoaOeq5gFqR",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_tmcuE5q73PGmudrD",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_nPzcmJ97Gh0uY5yq",
        "category": "General",
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_yJ9W6U6IaF8wCRht"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_WPl8nA2qDDvC8LfG",
        "type": "HttpOut",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "obj",
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_WPl8nA2qDDvC8LfG",
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_gDsPbsBfsLz8nsqO",
        "type": "Switch",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_gDsPbsBfsLz8nsqO",
        "category": "Function",
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_jrlSjigCXr7dH75k"
            ],
            [
                "sd_d3mqkeGUfnx5HKJf"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_w7m1mEUU2kJ14W6U",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "functionName": "sd_w7m1mEUU2kJ14W6U",
        "category": "Function",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_gDsPbsBfsLz8nsqO"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_aHrMZqgsw61RKCca",
        "type": "HttpOut",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": "404",
        "responseType": "obj",
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_aHrMZqgsw61RKCca",
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_d3mqkeGUfnx5HKJf",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "functionName": "sd_d3mqkeGUfnx5HKJf",
        "category": "Function",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_aHrMZqgsw61RKCca"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jl4B1ZKNOsRmcswP",
        "type": "MiddlewareStart",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_Rm2zSBN1MAMEXtvu"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_jl4B1ZKNOsRmcswP"
    },
    {
        "id": "sd_dfLVSZPVIzi1e3iw",
        "type": "MiddlewareEnd",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_dfLVSZPVIzi1e3iw",
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Rm2zSBN1MAMEXtvu",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "functionName": "sd_Rm2zSBN1MAMEXtvu",
        "category": "Function",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_dfLVSZPVIzi1e3iw"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yJ9W6U6IaF8wCRht",
        "type": "CallService",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_dTSbgLoaOeq5gFqR",
            "serviceName": "idsutil",
            "id": "sd_dTSbgLoaOeq5gFqR",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_FHMpsVuIbblOB0oP",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "./idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "accept_bh": false,
        "functionName": "sd_yJ9W6U6IaF8wCRht",
        "category": "General",
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_7xNK2AxMUPblf1B6"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_VFqnB5su1F2RifOx",
        "type": "HttpIn",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/login/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_v4JMaffkca9AAzBm"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_VFqnB5su1F2RifOx"
    },
    {
        "id": "sd_Kaj5rWBwkTwsRaIl",
        "type": "CallService",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_dTSbgLoaOeq5gFqR",
            "serviceName": "idsutil",
            "id": "sd_dTSbgLoaOeq5gFqR",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_tmcuE5q73PGmudrD",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_Kaj5rWBwkTwsRaIl",
        "category": "General",
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_3dHr3kXNYJkzgXSf"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3dHr3kXNYJkzgXSf",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());",
        "functionName": "sd_3dHr3kXNYJkzgXSf",
        "category": "Function",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_De27z3OaXN8nQPJa"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_v4JMaffkca9AAzBm",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "functionName": "sd_v4JMaffkca9AAzBm",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_Kaj5rWBwkTwsRaIl"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_dhMAFkgbi4XarG1L",
        "type": "Switch",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_dhMAFkgbi4XarG1L",
        "category": "Function",
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_t4L10qWEE20AjiKi"
            ],
            [
                "sd_X7d0fYcREVP0Aznx"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_t4L10qWEE20AjiKi",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_t4L10qWEE20AjiKi",
        "category": "Function",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_8QiylUIITbgWM47K"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_X7d0fYcREVP0Aznx",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "functionName": "sd_X7d0fYcREVP0Aznx",
        "category": "Function",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_lIGWOAcwrRaachiI"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8QiylUIITbgWM47K",
        "type": "HttpOut",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "txt",
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_8QiylUIITbgWM47K",
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_lIGWOAcwrRaachiI",
        "type": "HttpOut",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_lIGWOAcwrRaachiI",
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_De27z3OaXN8nQPJa",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "functionName": "sd_De27z3OaXN8nQPJa",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_dhMAFkgbi4XarG1L"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_LoQ58LEazOLV4wEb",
        "type": "HttpIn",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/user/info": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_u4HovsyTTFfA7k6n"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_LoQ58LEazOLV4wEb"
    },
    {
        "id": "sd_u4HovsyTTFfA7k6n",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "functionName": "sd_u4HovsyTTFfA7k6n",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_ha5JHZfayHNst5ii"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ha5JHZfayHNst5ii",
        "type": "HttpOut",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_ha5JHZfayHNst5ii",
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ZqXpMjeluSktDbJR",
        "type": "Catch",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_yJ9W6U6IaF8wCRht",
            "sd_VFqnB5su1F2RifOx",
            "sd_Kaj5rWBwkTwsRaIl",
            "sd_3dHr3kXNYJkzgXSf",
            "sd_v4JMaffkca9AAzBm",
            "sd_dhMAFkgbi4XarG1L",
            "sd_t4L10qWEE20AjiKi",
            "sd_X7d0fYcREVP0Aznx",
            "sd_8QiylUIITbgWM47K",
            "sd_lIGWOAcwrRaachiI"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_ZqXpMjeluSktDbJR",
        "category": "General",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_pSLDD3m2qGE8XAzq"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_pSLDD3m2qGE8XAzq",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "functionName": "sd_pSLDD3m2qGE8XAzq",
        "category": "Function",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_dAZmC1YUOLyZDvND",
        "type": "HttpIn",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_V6xTgUGlvWgm34g4"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_dAZmC1YUOLyZDvND"
    },
    {
        "id": "sd_V6xTgUGlvWgm34g4",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_V6xTgUGlvWgm34g4",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_mtU7yVqN7o3Ie4Oh"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mtU7yVqN7o3Ie4Oh",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "functionName": "sd_mtU7yVqN7o3Ie4Oh",
        "category": "Function",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_cXhVXTjf9hwYhTIq"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_YuJfncaf4KSLH4r1",
        "type": "Switch",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_YuJfncaf4KSLH4r1",
        "category": "Function",
        "x": 885,
        "y": 1680,
        "wires": [
            [
                "sd_z7JvHRPWtcQZEgHg"
            ],
            [
                "sd_8OU7DOZdfVKE6c58"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_z7JvHRPWtcQZEgHg",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}\n\n// Remove user info and tokenset before login redirect\nbh.local.sessionData.data.tokenset = null;\nbh.local.sessionData.data.userInfo = null;",
        "functionName": "sd_z7JvHRPWtcQZEgHg",
        "category": "Function",
        "x": 1045,
        "y": 1560,
        "wires": [
            [
                "sd_dCWCI7Lqpk6tk1KJ"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_cXhVXTjf9hwYhTIq",
        "type": "CallService",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_dTSbgLoaOeq5gFqR",
            "serviceName": "idsutil",
            "id": "sd_dTSbgLoaOeq5gFqR",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_tmcuE5q73PGmudrD",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_cXhVXTjf9hwYhTIq",
        "category": "General",
        "x": 645,
        "y": 1680,
        "wires": [
            [
                "sd_YuJfncaf4KSLH4r1"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_DGK9ncTxhyJLnDtB",
        "type": "HttpOut",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_DGK9ncTxhyJLnDtB",
        "category": "HTTP",
        "x": 1345,
        "y": 1680,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8OU7DOZdfVKE6c58",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "functionName": "sd_8OU7DOZdfVKE6c58",
        "category": "Function",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_DGK9ncTxhyJLnDtB"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tGUtMYExU9Phc6EM",
        "type": "HttpIn",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "httpOptions": {
            "/logout/cb": {
                "get": {
                    "summary": "",
                    "description": "",
                    "consumes": [],
                    "produces": [],
                    "parameters": [],
                    "responses": {}
                }
            }
        },
        "uploadFileOptions": {},
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 163.1406421661377,
        "y": 2441.0469074249268,
        "wires": [
            [
                "sd_7uTpByzrpePQrewM"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_tGUtMYExU9Phc6EM"
    },
    {
        "id": "sd_7uTpByzrpePQrewM",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_7uTpByzrpePQrewM",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 347.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_zuOolU1wED5OvYhk"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_svj7px3F55xLf9pa",
        "type": "Switch",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_svj7px3F55xLf9pa",
        "category": "Function",
        "x": 665.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_9w2lrFtB9Tau7IoC"
            ],
            [
                "sd_yMAOn5IXXBRM1bUl"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9w2lrFtB9Tau7IoC",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_9w2lrFtB9Tau7IoC",
        "category": "Function",
        "x": 850.2500171661377,
        "y": 2516.0312824249268,
        "wires": [
            [
                "sd_17KtkdWqZGH8gvk6"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_17KtkdWqZGH8gvk6",
        "type": "HttpOut",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "obj",
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_17KtkdWqZGH8gvk6",
        "category": "HTTP",
        "x": 1083.2500171661377,
        "y": 2315.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yMAOn5IXXBRM1bUl",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "functionName": "sd_yMAOn5IXXBRM1bUl",
        "category": "Function",
        "x": 849.2500171661377,
        "y": 2337.0312824249268,
        "wires": [
            [
                "sd_3AmL6ysxzFXIj4UX"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3AmL6ysxzFXIj4UX",
        "type": "HttpOut",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": "302",
        "responseType": "txt",
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_3AmL6ysxzFXIj4UX",
        "category": "HTTP",
        "x": 1089.2500171661377,
        "y": 2516.0312824249268,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zuOolU1wED5OvYhk",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_zuOolU1wED5OvYhk",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 519.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_svj7px3F55xLf9pa"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_gIJDWPjWlkakvfT7",
        "type": "MiddlewareStart",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_eD9jRQYwRSDUIDCT"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_gIJDWPjWlkakvfT7"
    },
    {
        "id": "sd_9BsI2v5ZAlDQTLm1",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_9BsI2v5ZAlDQTLm1",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_xhtfcqMny0R6VHYp"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yxsYjXzz4kQc5CAE",
        "type": "Switch",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_yxsYjXzz4kQc5CAE",
        "category": "Function",
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_n9jXAN2B94Rii3Sf"
            ],
            [
                "sd_zBvPi5Skv1cSnmue"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zBvPi5Skv1cSnmue",
        "type": "Switch",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_zBvPi5Skv1cSnmue",
        "category": "Function",
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_x0ca3oGQ3kNebWAe"
            ],
            [
                "sd_LdW5Ev56249GEWSm"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Cqb9x7pioqwSfIYc",
        "type": "HttpOut",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": "403",
        "responseType": "obj",
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_Cqb9x7pioqwSfIYc",
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_x0ca3oGQ3kNebWAe",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "functionName": "sd_x0ca3oGQ3kNebWAe",
        "category": "Function",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_Cqb9x7pioqwSfIYc"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_LdW5Ev56249GEWSm",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "functionName": "sd_LdW5Ev56249GEWSm",
        "category": "Function",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_Cqb9x7pioqwSfIYc"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3bMDs1zNW3QuRltt",
        "type": "Switch",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_3bMDs1zNW3QuRltt",
        "category": "Function",
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_e9r4bgKPO6ja8oYf"
            ],
            [
                "sd_mSfyWzfImzu82Fap"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_poQF5TqtJFSLeg4P",
        "type": "MiddlewareEnd",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": "200",
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_poQF5TqtJFSLeg4P",
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8joKXsTu2sXnvpp4",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "functionName": "sd_8joKXsTu2sXnvpp4",
        "category": "Function",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_Cqb9x7pioqwSfIYc"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_n9jXAN2B94Rii3Sf",
        "type": "CallService",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "serviceId": "sd_dTSbgLoaOeq5gFqR",
            "serviceName": "idsutil",
            "id": "sd_dTSbgLoaOeq5gFqR",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_mIdsPnkgmpf7EpIa",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "./idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "accept_bh": false,
        "functionName": "sd_n9jXAN2B94Rii3Sf",
        "category": "General",
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_3bMDs1zNW3QuRltt"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_eD9jRQYwRSDUIDCT",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "functionName": "sd_eD9jRQYwRSDUIDCT",
        "category": "Function",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_9BsI2v5ZAlDQTLm1"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_xhtfcqMny0R6VHYp",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "functionName": "sd_xhtfcqMny0R6VHYp",
        "category": "Function",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_yxsYjXzz4kQc5CAE"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_e9r4bgKPO6ja8oYf",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_e9r4bgKPO6ja8oYf",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_8joKXsTu2sXnvpp4"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mSfyWzfImzu82Fap",
        "type": "Switch",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_mSfyWzfImzu82Fap",
        "category": "Function",
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_xMBZAq1MS8zzLa1m"
            ],
            [
                "sd_poQF5TqtJFSLeg4P"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_HVyZD4EDTDRQSOLb",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "functionName": "sd_HVyZD4EDTDRQSOLb",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_poQF5TqtJFSLeg4P"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_xMBZAq1MS8zzLa1m",
        "type": "Script",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "functionName": "sd_xMBZAq1MS8zzLa1m",
        "category": "Function",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_HVyZD4EDTDRQSOLb"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9iAJlqoQDjoZ1SfL",
        "type": "Comments",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "category": "General",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_K1Htg7kGqck7hmEh",
        "type": "Comments",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "category": "General",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_680XQSTK5Za5a0nS",
        "type": "Comments",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "category": "General",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_dIpkHQdchKfqJCTf",
        "type": "Comments",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "category": "General",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_qkxI4sHk1vdrqphr",
        "type": "Comments",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "category": "General",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_9339LrXKk49WFSTx",
        "type": "Comments",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "category": "General",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_jOKmlDczYxYi5MwS",
        "type": "Comments",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "category": "General",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_m9dnhranqCrIUucW",
        "type": "Comments",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "category": "General",
        "x": 581.25,
        "y": 2288.4765625,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_xKNQynpcaUHG5OPh",
        "type": "Catch",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_n9jXAN2B94Rii3Sf"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_xKNQynpcaUHG5OPh",
        "category": "General",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_8joKXsTu2sXnvpp4"
            ]
        ],
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_dCWCI7Lqpk6tk1KJ",
        "type": "Session",
        "z": "sd_zYG4hoDVmPerzDa7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "bh.local.sessionData.data",
        "functionName": "sd_dCWCI7Lqpk6tk1KJ",
        "category": "HTTP",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session",
                "constant": false
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "sessionData.data",
                "constant": false
            }
        },
        "x": 1205,
        "y": 1560,
        "wires": [
            [
                "sd_DGK9ncTxhyJLnDtB"
            ]
        ],
        "generateNext": false,
        "generated": true
    }
]
